<!DOCTYPE html>
<html lang="sp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current</title>
    <link rel="shortcut icon" href="../storage/img/logo.png" type="image/png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/viewNote.css">
</head>

<body>
    <div class="mensaje">
        <h1>Esta página solo está disponible en dispositivos móviles.</h1>
        <p>Por favor, accede desde tu teléfono o tableta.</p>
    </div>
    
    <div class="contenido">
        <header>
            <button id="back" onclick="goToMain()"></button>
            <div class="button-container">
                <button id="edit" onclick="editwNotePage()"></button>
            </div>
        </header>

        <section id="noteInputSpace">
            <h1 id="noteTitle">Book Review : The Design of Everyday Things by Don Norman</h1>
            <p id="noteContent">The Design of Everyday Things is required reading for anyone who is interested in the user experience. I personally like to reread it every year or two.
                <br></br>
                Norman is aware of the durability of his work and the applicability of his principles to multiple disciplines.
                <br></br>
                If you know the basics of design better than anyone else, you can apply them flawlessly anywhere.</p>
        </section>
    </div>
</body>
<script src="../js/script.js"></script>
</html>